@import {wolves:bourbon}/bourbon
@import variables


body
  padding-top: 60px
  font-family: Cantarell

.navbar
  position: fixed
  height: 50px
  width: 100%
  top: 0
  left: 0
  right: 0
  z-index: 9999
  padding: 0 $spacing
  background: $primary-color-dark
  color: $white

  .menu, .logo
    display: inline-block

  .logo
    margin: 0
    padding: 0
    font-weight: 100

  .menu
    li
      list-style: none
      display: inline-block
      margin-right: #{$spacing * 1.5}
      a
        color: #fff
        text-decoration: none

  .logins
    float: right
    padding: #{$spacing * 1.5} #{$spacing * 3}

.editors
  padding-left: $spacing
  margin-bottom: $spacing * 2
  .label
    color: $white
    font-size: 12px
    padding: #{$spacing / 2} $spacing
    &.success
       background: $success


.container
  @include display(flex)

.editor, .preview
  width: 100%
  margin: 0 10px
  max-width: 50%
  position: relative

.preview
  border: 1px solid $grey
  .preview-frame
    position: absolute
    top: 0px
    bottom: 0px
    right: 0px
    left: 0px
    border: 0
